## 필요 라이브러리 불러오기

In [71]:
import pandas as pd
import numpy as np

## DB 저장

* 01.nutrition_limit tbl

In [63]:
excel_file ='../src/영양성분 섭취기준.xlsx'
df = pd.read_excel(excel_file)
df.head()

,성별,연령,에너지(㎉),탄수화물(g),총 식이섬유(g),총당류(g),단백질(g),지방(g),콜레스테롤(㎎),총 포화 지방산(g),...,칼륨(㎎),철(㎎),마그네슘(㎎),비타민 A(μg RAE),비타민 D(㎍),비타민 E(㎎ α-TE),비타민 K(㎍),비타민 C(㎎),엽산(㎍),비타민 B12(㎍)
0,남자,19-29,2600.0,130.0,30.0,65.0,65.0,NaN,300.0,23.111111,...,3500.0,8-45,360-700,570-800-3000,10-100,12-540,75.0,75-100-2000,400-1000,2.0
1,남자,30-49,2500.0,130.0,30.0,62.5,65.0,NaN,300.0,22.222222,...,3500.0,8-45,370-720,560-800-3000,10-100,12-540,75.0,75-100-2000,400-1000,2.0
2,남자,50-64,2200.0,130.0,30.0,55.0,60.0,NaN,300.0,19.555556,...,3500.0,8-45,370-720,530-750-3000,10-100,12-540,75.0,75-100-2000,400-1000,2.0
3,남자,65-74,2000.0,130.0,25.0,50.0,60.0,NaN,300.0,17.777778,...,3500.0,7-45,370-720,510-700-3000,15-100,12-540,75.0,75-100-2000,400-1000,2.0
4,남자,75 이상,1900.0,130.0,25.0,47.5,60.0,NaN,300.0,16.888889,...,3500.0,7-45,370-720,500-700-3000,15-100,12-540,75.0,75-100-2000,400-1000,2.0

In [64]:
# 필요행만 추출
df = df.iloc[:10]
df

,성별,연령,에너지(㎉),탄수화물(g),총 식이섬유(g),총당류(g),단백질(g),지방(g),콜레스테롤(㎎),총 포화 지방산(g),...,칼륨(㎎),철(㎎),마그네슘(㎎),비타민 A(μg RAE),비타민 D(㎍),비타민 E(㎎ α-TE),비타민 K(㎍),비타민 C(㎎),엽산(㎍),비타민 B12(㎍)
0,남자,19-29,2600.0,130.0,30.0,65.0,65.0,NaN,300.0,23.111111,...,3500.0,8-45,360-700,570-800-3000,10-100,12-540,75.0,75-100-2000,400-1000,2.0
1,남자,30-49,2500.0,130.0,30.0,62.5,65.0,NaN,300.0,22.222222,...,3500.0,8-45,370-720,560-800-3000,10-100,12-540,75.0,75-100-2000,400-1000,2.0
2,남자,50-64,2200.0,130.0,30.0,55.0,60.0,NaN,300.0,19.555556,...,3500.0,8-45,370-720,530-750-3000,10-100,12-540,75.0,75-100-2000,400-1000,2.0
3,남자,65-74,2000.0,130.0,25.0,50.0,60.0,NaN,300.0,17.777778,...,3500.0,7-45,370-720,510-700-3000,15-100,12-540,75.0,75-100-2000,400-1000,2.0
4,남자,75 이상,1900.0,130.0,25.0,47.5,60.0,NaN,300.0,16.888889,...,3500.0,7-45,370-720,500-700-3000,15-100,12-540,75.0,75-100-2000,400-1000,2.0
5,여자,19-29,2000.0,130.0,20.0,50.0,55.0,NaN,300.0,17.777778,...,3500.0,11-45,280-630,460-650-3000,10-100,12-540,65.0,75-100-2000,400-1000,2.0
6,여자,30-49,1900.0,130.0,20.0,47.5,50.0,NaN,300.0,16.888889,...,3500.0,11-45,280-630,450-650-3000,10-100,12-540,65.0,75-100-2000,400-1000,2.0
7,여자,50-64,1700.0,130.0,20.0,42.5,50.0,NaN,300.0,15.111111,...,3500.0,6-45,280-630,430-600-3000,10-100,12-540,65.0,75-100-2000,400-1000,2.0
8,여자,65-74,1600.0,130.0,20.0,40.0,50.0,NaN,300.0,14.222222,...,3500.0,6-45,280-630,410-600-3000,15-100,12-540,65.0,75-100-2000,400-1000,2.0
9,여자,75 이상,1500.0,130.0,20.0,37.5,50.0,NaN,300.0,13.333333,...,3500.0,5-45,280-630,410-600-3000,15-100,12-540,65.0,75-100-2000,400-1000,2.0

In [65]:
# (성별,연령)기준으로 데이터프레임 재구조화

melt_df = pd.melt(df, id_vars=['성별','연령'])
melt_df

     성별     연령    variable   value
0    남자  19-29      에너지(㎉)  2600.0
1    남자  30-49      에너지(㎉)  2500.0
2    남자  50-64      에너지(㎉)  2200.0
3    남자  65-74      에너지(㎉)  2000.0
4    남자  75 이상      에너지(㎉)  1900.0
..   ..    ...         ...     ...
215  여자  19-29  비타민 B12(㎍)     2.0
216  여자  30-49  비타민 B12(㎍)     2.0
217  여자  50-64  비타민 B12(㎍)     2.0
218  여자  65-74  비타민 B12(㎍)     2.0
219  여자  75 이상  비타민 B12(㎍)     2.0

[220 rows x 4 columns]

In [66]:
# 열이름 변경

melt_df = melt_df.rename(columns={'성별':'sex', '연령':'age_range','variable':'nutrition'})
melt_df

    sex age_range   nutrition   value
0    남자     19-29      에너지(㎉)  2600.0
1    남자     30-49      에너지(㎉)  2500.0
2    남자     50-64      에너지(㎉)  2200.0
3    남자     65-74      에너지(㎉)  2000.0
4    남자     75 이상      에너지(㎉)  1900.0
..   ..       ...         ...     ...
215  여자     19-29  비타민 B12(㎍)     2.0
216  여자     30-49  비타민 B12(㎍)     2.0
217  여자     50-64  비타민 B12(㎍)     2.0
218  여자     65-74  비타민 B12(㎍)     2.0
219  여자     75 이상  비타민 B12(㎍)     2.0

[220 rows x 4 columns]

In [67]:
# 영양소 종류

print(melt_df.nutrition.unique(), f'총 영양소 개수 : {len(melt_df.nutrition.unique())}개', sep='\n\n')

['에너지(㎉)' '탄수화물(g)' '총 식이섬유(g)' '총당류(g)' '단백질(g)' '지방(g)' '콜레스테롤(㎎)'
 '총 포화 지방산(g)' '트랜스 지방산(g)' 'EPA+DHA(g)' '칼슘(㎎)' '나트륨(㎎)' '칼륨(㎎)' '철(㎎)'
 '마그네슘(㎎)' '비타민 A(μg RAE)' '비타민 D(㎍)' '비타민 E(㎎ α-TE)' '비타민 K(㎍)'
 '비타민 C(㎎)' '엽산(㎍)' '비타민 B12(㎍)']

총 영양소 개수 : 22개

In [68]:
# value값에서 기준치 분리 후, 새로운 열의 값으로 넣기

lack_nutri = ['탄수화물(g)','단백질(g)', '지방(g)','총 식이섬유(g)','비타민 K(㎍)','비타민 B12(㎍)','칼륨(㎎)','EPA+DHA(g)']
over_nutri= ['에너지(㎉)','콜레스테롤(㎎)','총 포화 지방산(g)','트랜스 지방산(g)','총당류(g)','나트륨(㎎)']
lack_over_nutri = ['비타민 D(㎍)','비타민 E(㎎ α-TE)','엽산(㎍)','철(㎎)', '마그네슘(㎎)']
danger_nutri= ['비타민 A(μg RAE)','비타민 C(㎎)','칼슘(㎎)']

for index, row in melt_df.iterrows():
    if row['nutrition'] in lack_nutri:
        melt_df.loc[index,'lack_standard'] = row['value']
    elif row['nutrition'] in over_nutri:
        melt_df.loc[index,'over_standard'] = row['value']
    elif row['nutrition'] in lack_over_nutri:
        melt_df.loc[index,'lack_standard'] = row['value'].split('-')[0]
        melt_df.loc[index,'over_standard'] = row['value'].split('-')[1]
    elif row['nutrition'] in danger_nutri:
        melt_df.loc[index,'lack_standard'] = row['value'].split('-')[0]
        melt_df.loc[index,'over_standard'] = row['value'].split('-')[1]
        melt_df.loc[index,'danger_standard'] = row['value'].split('-')[2]
melt_df

C:\Users\dldkr\AppData\Local\Temp\ipykernel_16292\1397656226.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '650' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  melt_df.loc[index,'lack_standard'] = row['value'].split('-')[0]
C:\Users\dldkr\AppData\Local\Temp\ipykernel_16292\1397656226.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '800' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  melt_df.loc[index,'over_standard'] = row['value'].split('-')[1]

,sex,age_range,nutrition,value,over_standard,lack_standard,danger_standard
0,남자,19-29,에너지(㎉),2600.0,2600.0,NaN,NaN
1,남자,30-49,에너지(㎉),2500.0,2500.0,NaN,NaN
2,남자,50-64,에너지(㎉),2200.0,2200.0,NaN,NaN
3,남자,65-74,에너지(㎉),2000.0,2000.0,NaN,NaN
4,남자,75 이상,에너지(㎉),1900.0,1900.0,NaN,NaN
...,...,...,...,...,...,...,...
215,여자,19-29,비타민 B12(㎍),2.0,NaN,2.0,NaN
216,여자,30-49,비타민 B12(㎍),2.0,NaN,2.0,NaN
217,여자,50-64,비타민 B12(㎍),2.0,NaN,2.0,NaN
218,여자,65-74,비타민 B12(㎍),2.0,NaN,2.0,NaN
219,여자,75 이상,비타민 B12(㎍),2.0,NaN,2.0,NaN

In [69]:
# 필요열만 추출 & 열 재배열
final_df = melt_df.copy()
final_df = final_df[['sex','age_range','nutrition','lack_standard','over_standard','danger_standard']]
final_df['age_range'] = final_df['age_range'].str.replace(' 이상','-')
final_df

    sex age_range   nutrition lack_standard over_standard danger_standard
0    남자     19-29      에너지(㎉)           NaN        2600.0             NaN
1    남자     30-49      에너지(㎉)           NaN        2500.0             NaN
2    남자     50-64      에너지(㎉)           NaN        2200.0             NaN
3    남자     65-74      에너지(㎉)           NaN        2000.0             NaN
4    남자       75-      에너지(㎉)           NaN        1900.0             NaN
..   ..       ...         ...           ...           ...             ...
215  여자     19-29  비타민 B12(㎍)           2.0           NaN             NaN
216  여자     30-49  비타민 B12(㎍)           2.0           NaN             NaN
217  여자     50-64  비타민 B12(㎍)           2.0           NaN             NaN
218  여자     65-74  비타민 B12(㎍)           2.0           NaN             NaN
219  여자       75-  비타민 B12(㎍)           2.0           NaN             NaN

[220 rows x 6 columns]

In [72]:
# 숫자형 데이터만 정수형으로 반올림 처리
final_df_numeric = final_df.select_dtypes(include=np.number)
final_df_rounded = final_df_numeric.round().astype('Int64')
final_df[final_df_rounded.columns] = final_df_rounded

In [73]:
final_df

    sex age_range   nutrition lack_standard over_standard danger_standard
0    남자     19-29      에너지(㎉)           NaN        2600.0             NaN
1    남자     30-49      에너지(㎉)           NaN        2500.0             NaN
2    남자     50-64      에너지(㎉)           NaN        2200.0             NaN
3    남자     65-74      에너지(㎉)           NaN        2000.0             NaN
4    남자       75-      에너지(㎉)           NaN        1900.0             NaN
..   ..       ...         ...           ...           ...             ...
215  여자     19-29  비타민 B12(㎍)           2.0           NaN             NaN
216  여자     30-49  비타민 B12(㎍)           2.0           NaN             NaN
217  여자     50-64  비타민 B12(㎍)           2.0           NaN             NaN
218  여자     65-74  비타민 B12(㎍)           2.0           NaN             NaN
219  여자       75-  비타민 B12(㎍)           2.0           NaN             NaN

[220 rows x 6 columns]

In [74]:
## DB연결후, 저장

import pymysql

conn = pymysql.connect(host='localhost', user='root', password='1111',\
    db = 'yorehalre', charset='utf8')
cur= conn.cursor()

cur.execute(""" 
            create table if not exists nutrition_limit ( 
            sex CHAR(2) NOT NULL,
            age_range VARCHAR(10) NOT NULL,
            nutrition VARCHAR(20) NOT NULL,
            lack_standard INT,
            over_standard INT,
            danger_standard INT,
            PRIMARY KEY (sex,age_range,nutrition)
            )
            """)

for idx,row in final_df.iterrows():
    try:
        sql = "INSERT INTO nutrition_limit(sex, age_range, nutrition, lack_standard, over_standard, danger_standard) values(%s, %s, %s, %s, %s, %s)"
        val = (row['sex'] if not pd.isnull(row['sex']) else None,
               row['age_range'] if not pd.isnull(row['age_range']) else None,
               row['nutrition'] if not pd.isnull(row['nutrition']) else None,
               row['lack_standard'] if not pd.isnull(row['lack_standard']) else None,
               row['over_standard'] if not pd.isnull(row['over_standard']) else None,
               row['danger_standard'] if not pd.isnull(row['danger_standard']) else None)
        
        cur.execute(sql, val)
        
    except Exception as e:
        print("Error:", e)
        continue

conn.commit()
conn.close()

* 02.food_nutrition

In [75]:
excel_file ='../src/food_nutrient.xlsx'
df = pd.read_excel(excel_file)
df.head()

,식품명,1회제공량,에너지(㎉),에너지(kj),수분(g),수분(%),단백질(g),지방(g),탄수화물(g),총당류(g),...,EPA와 DHA의 합(㎎),오메가 3 지방산(g),오메가 6 지방산(g),트랜스 지방산(g),철(㎎),EPA+DHA(g),비타민 A(μg RAE),비타민 B3(㎎),메티오닌+시스테인(㎎),페닐알라닌+티로신(㎎)
0,닭갈비,400.0,595.610,0.0,276.400,0.0,45.900,25.800,44.900,21.200,...,0.0,0.0,0.0,0.200,0.003380,0.016,394.171667,1.230,1185.770,3140.654
1,쌀국수,600.0,320.320,0.0,520.400,0.0,15.600,4.200,55.100,4.300,...,0.0,0.0,0.0,0.100,0.001510,0.000,17.420000,1.810,476.668,1098.648
2,돼지고기볶음,200.0,350.673,0.0,134.172,0.0,22.961,20.665,18.210,8.201,...,0.0,0.0,0.0,0.151,0.015974,0.000,217.256000,4.841,0.000,0.000
3,김치찌개,400.0,243.032,0.0,351.450,0.0,15.069,15.005,11.929,3.025,...,0.0,0.0,0.0,0.030,0.015184,0.000,186.184333,6.595,0.000,0.000
4,양념치킨,200.0,552.000,0.0,92.100,0.0,35.500,26.800,42.300,12.500,...,0.0,0.0,0.0,0.200,0.001470,0.000,63.310000,8.620,1316.390,2647.650

In [77]:
# 사용할 열만 추출
df = df[['식품명', '1회제공량', '에너지(㎉)','탄수화물(g)','총 식이섬유(g)','총당류(g)','단백질(g)','지방(g)','콜레스테롤(㎎)','총 포화 지방산(g)','트랜스 지방산(g)',\
    'EPA+DHA(g)','칼슘(㎎)','나트륨(㎎)','칼륨(㎎)','철(㎎)','마그네슘(㎎)','비타민 A(μg RAE)','비타민 D(㎍)','비타민 E(㎎ α-TE)','비타민 K(㎍)','비타민 C(㎎)','엽산(㎍)',
    '비타민 B12(㎍)']]
df.head()

,식품명,1회제공량,에너지(㎉),탄수화물(g),총 식이섬유(g),총당류(g),단백질(g),지방(g),콜레스테롤(㎎),총 포화 지방산(g),...,칼륨(㎎),철(㎎),마그네슘(㎎),비타민 A(μg RAE),비타민 D(㎍),비타민 E(㎎ α-TE),비타민 K(㎍),비타민 C(㎎),엽산(㎍),비타민 B12(㎍)
0,닭갈비,400.0,595.610,44.900,11.600,21.200,45.900,25.800,193.400,6.000,...,1200.240,0.003380,104.42,394.171667,0.0,6.82,0.0,5.540,108.13,1.12
1,쌀국수,600.0,320.320,55.100,1.600,4.300,15.600,4.200,33.600,1.400,...,253.260,0.001510,36.11,17.420000,0.0,0.90,0.0,0.370,42.22,1.34
2,돼지고기볶음,200.0,350.673,18.210,3.020,8.201,22.961,20.665,57.870,5.119,...,568.054,0.015974,0.00,217.256000,0.0,0.00,0.0,0.746,0.00,0.00
3,김치찌개,400.0,243.032,11.929,8.417,3.025,15.069,15.005,25.178,2.756,...,639.691,0.015184,0.00,186.184333,0.0,0.00,0.0,0.000,0.00,0.00
4,양념치킨,200.0,552.000,42.300,2.100,12.500,35.500,26.800,137.790,5.400,...,495.730,0.001470,51.32,63.310000,0.0,8.18,0.0,0.200,33.24,0.31

In [78]:
# 열 이름 변경
df.rename(columns={'식품명':'food_name'},inplace=True)
df.head()

,food_name,1회제공량,에너지(㎉),탄수화물(g),총 식이섬유(g),총당류(g),단백질(g),지방(g),콜레스테롤(㎎),총 포화 지방산(g),...,칼륨(㎎),철(㎎),마그네슘(㎎),비타민 A(μg RAE),비타민 D(㎍),비타민 E(㎎ α-TE),비타민 K(㎍),비타민 C(㎎),엽산(㎍),비타민 B12(㎍)
0,닭갈비,400.0,595.610,44.900,11.600,21.200,45.900,25.800,193.400,6.000,...,1200.240,0.003380,104.42,394.171667,0.0,6.82,0.0,5.540,108.13,1.12
1,쌀국수,600.0,320.320,55.100,1.600,4.300,15.600,4.200,33.600,1.400,...,253.260,0.001510,36.11,17.420000,0.0,0.90,0.0,0.370,42.22,1.34
2,돼지고기볶음,200.0,350.673,18.210,3.020,8.201,22.961,20.665,57.870,5.119,...,568.054,0.015974,0.00,217.256000,0.0,0.00,0.0,0.746,0.00,0.00
3,김치찌개,400.0,243.032,11.929,8.417,3.025,15.069,15.005,25.178,2.756,...,639.691,0.015184,0.00,186.184333,0.0,0.00,0.0,0.000,0.00,0.00
4,양념치킨,200.0,552.000,42.300,2.100,12.500,35.500,26.800,137.790,5.400,...,495.730,0.001470,51.32,63.310000,0.0,8.18,0.0,0.200,33.24,0.31

In [87]:
# 결측값 확인
print(df.isna().sum())
df[df.isna().any(axis=1)]

food_name        0
1회제공량            1
에너지(㎉)           1
탄수화물(g)          1
총 식이섬유(g)        1
총당류(g)           1
단백질(g)           1
지방(g)            1
콜레스테롤(㎎)         1
총 포화 지방산(g)      1
트랜스 지방산(g)       1
EPA+DHA(g)       1
칼슘(㎎)            1
나트륨(㎎)           1
칼륨(㎎)            1
철(㎎)             1
마그네슘(㎎)          1
비타민 A(μg RAE)    1
비타민 D(㎍)         1
비타민 E(㎎ α-TE)    1
비타민 K(㎍)         1
비타민 C(㎎)         1
엽산(㎍)            1
비타민 B12(㎍)       1
dtype: int64

,food_name,1회제공량,에너지(㎉),탄수화물(g),총 식이섬유(g),총당류(g),단백질(g),지방(g),콜레스테롤(㎎),총 포화 지방산(g),...,칼륨(㎎),철(㎎),마그네슘(㎎),비타민 A(μg RAE),비타민 D(㎍),비타민 E(㎎ α-TE),비타민 K(㎍),비타민 C(㎎),엽산(㎍),비타민 B12(㎍)
49,양배추 쌈,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN